# Copy to .env locally. Production values live only in hydra-deploy/shared/.env.
OI_URL=https://sistemaoficinainteligente.com.br
OI_USER=
OI_PASS=
OFICINA_BASE_URL=https://sistemaoficinainteligente.com.br
OFICINA_USER=
OFICINA_PASSWORD=
EVOLUTION_URL=
EVOLUTION_INSTANCE=hydra
EVOLUTION_KEY=
EVOLUTION_API_KEY=
EVOLUTION_WEBHOOK_SECRET=
CHATWOOT_URL=
CHATWOOT_TOKEN=
WORKER_API_KEY=
HYDRA_DB_PATH=/home/operacional/hydra-data/hydra_ops.db
HYDRA_VAULT_ROOT=/home/operacional/hydra-data/vault
TZ=America/Sao_Paulo
